<form class="pure-form pure-form-aligned" ng-submit="issuesNew.issueCreate()">
  <fieldset>
    <div class="pure-control-group">
      <label for="title">Title</label>
      <input id="title" type="text" placeholder="Title" ng-model="issuesNew.issue.title">
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <div class="pure-control-group">
      <label for="category">Category</label>
      <select name="categoriesList" ng-model="issuesNew.issue.category">
        <option ng-repeat="category in issuesNew.categoriesList" value="{{category}}"> {{category}}</option>
      </select>
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>
    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
  </fieldset>
</form>
