<h3>EDIT PAGE</h3>
<form class="pure-form pure-form-aligned" ng-submit="usersEdit.usersUpdate()">
  <fieldset>
    <div class="pure-control-group">
      <label for="city">City</label>
      <input id="city" type="text" placeholder="{{main.user.city}}" ng-model="usersEdit.user.city">
    </div>

    <div class="pure-control-group">
      <label for="sector">Sector</label>
      <input id="sectory" type="text" placeholder="{{main.user.sector}}" ng-model="usersEdit.user.sector">
    </div>
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
  </fieldset>
</form>

<button class="pure-button">Save updates</button>
