<form class="pure-form pure-form-stacked">
  <fieldset>
    <div class="pure-g">
      <div class="pure-u-3-5">
        <label for="email">Email *</label>
        <input placeholder="Email" id="email" type="email" class="validate pure-u-2-3"  ng-model="usersLogin.user.email">
      </div>
      <div class="pure-u-1-5">
        <label for="password">Password *</label>
        <input placeholder="Password" id="password" type="password" class="validate" ng-model="usersLogin.user.password">
      </div>

      <div class="pure-controls pure-u-1-5">
        <button type="submit" class="pure-button pure-button-primary" ng-click="usersLogin.UsersLogin()">Sign in</button>
      </div>

    </div>
  </fieldset>
</form>
