<div class="pure-g">
  <div class="pure-u-1-4">
    <h3>{{issuesShow.issue.title}} </h3>
  </div>

  <div class="pure-u-1-4">
    <div class="status connected" ng-show="issuesShow.status.connected">✓ Connected</div>
    <div class="status disconnected" ng-show="issuesShow.status.disconnected">✘ Disconnected</div>
    <div class="status connecting" ng-show="issuesShow.status.connecting">✘ Connecting......</div>
  </div>

  <div class="pure-u-1-4">
    <p class="statusText" ng-show="issuesShow.issue.active"> (CLOSED)</p>
  </div>

  <div class="pure-u-1-4">
    <a ui-sref="issuesEdit({id: issuesShow.issue.id})">Edit Issue</a>
  </div>
</div>


<h2>Messages</h2>
<!-- {{issuesShow.issue}} -->
<p ng-if="issuesShow.issue.messages.length === 0"> No messages to show </p>
<ul>
  <li ng-repeat="message in issuesShow.issue.messages | orderBy:'id'"> {{ message.sender.alias }} : {{ message.msg_text}}
    <button type="submit" class="pure-button pure-button-primary" ng-click="issuesShow.ShowEditField($index)">Edit</button>

    <input id="{{$index}}" type="text" ng-show="{{$index}} === issuesShow.editing" placeholder="{{ message.msg_text}}" ng-model="message.msg_text">
    <button type="submit" class="pure-button pure-button-primary" ng-show="{{$index}} === issuesShow.editing" ng-click="issuesShow.EditMessage($index, message.id)">Update</button>


    <button type="submit" class="pure-button pure-button-primary" ng-click="issuesShow.DeleteMessage(message.id)">Delete</button>
  </li>
</ul>

<div class="pure-control-group">
  {{ issuesShow.message }}
  <label for="new_message">Add new message</label>
  <input id="new_message" type="text" placeholder="New Message" ng-model="issuesShow.newMessage.msg_text">
  <button type="submit" class="pure-button pure-button-primary" ng-click="issuesShow.AddMessage()">Add</button>
</div>
