.header{
  padding: 0px;
}

.logo {
  font-family: 'Baloo', cursive;
}
.pure-menu-heading {
  font-family: 'Baloo', cursive;
}

.strapline {
  font-family: 'Amiko', sans-serif;
  font-weight: 700;
}

.pure-menu-item {
  font-family: 'Amiko', sans-serif;
  font-weight: 700;
}

.content {
  font-family: 'Josefin Sans', sans-serif;
}

label {
  font-family: 'Josefin Sans', sans-serif;
}
